<div class="left-sidebar">
    <div class="panel-group category-products"><!--category-productsr-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Лампы</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Прожекторы</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Светильники</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Комплектующие</a></h4>
            </div>
        </div>
    </div><!--/category-products-->



    <div class="shipping text-center"><!--shipping-->
        <a href="/" ><img width="265px;" src="/resources/lib/img/template/banner.jpg" alt="" /></a>
    </div><!--/shipping-->

</div>