<div class="features_items" ><!--features_items-->
<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <img src="/resources/lib/img/items/lamp1.jpg" alt="" />
                <h2><i class="fa fa-rub"></i> 600.00</h2>
                <p>Просто лампочка E27</p>
                <a href="/details" class="btn btn-default add-to-cart"><i class="fa fa-info-circle"></i>Подробнее</a>
            </div>
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li><a href="#"><i class="fa fa-shopping-cart"></i>В корзину</a></li>
                <li><a href="#"><i class="fa fa-th"></i>Сравнить</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <img src="/resources/lib/img/items/lamp3.jpg" alt="" />
                <h2><i class="fa fa-rub"></i> 1100.00</h2>
                <p>
                    Просто лампочка E27
                </p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-info-circle"></i>Подробнее</a>
            </div>
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li><a href="#"><i class="fa fa-shopping-cart"></i>В корзину</a></li>
                <li><a href="#"><i class="fa fa-th"></i>Сравнить</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <img src="/resources/lib/img/items/lamp2.png" alt="" />
                <h2><i class="fa fa-rub"></i> 500.00</h2>
                <p>Очень крутая лампочка E27 10W</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-info-circle"></i>Подробнее</a>
            </div>
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li><a href="#"><i class="fa fa-shopping-cart"></i>В корзину</a></li>
                <li><a href="#"><i class="fa fa-th"></i>Сравнить</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <img src="/resources/lib/img/items/lamp4.jpg" alt="" />
                <h2><i class="fa fa-rub"></i> 200.00</h2>
                <p>Хуйня какаето, Е27</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-info-circle"></i>Подробнее</a>
            </div>
            <img src="/resources/lib/img/tmp/home/sale.png" class="new" alt="" />
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li><a href="#"><i class="fa fa-shopping-cart"></i>В корзину</a></li>
                <li><a href="#"><i class="fa fa-th"></i>Сравнить</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <img src="/resources/lib/img/items/lamp3.jpg" alt="" />
                <h2><i class="fa fa-rub"></i> 1100.00</h2>
                <p>
                    Просто лампочка E27
                </p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-info-circle"></i>Подробнее</a>
            </div>
            <img src="/resources/lib/img/tmp/home/new.png" class="new" alt="" />
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li><a href="#"><i class="fa fa-shopping-cart"></i>В корзину</a></li>
                <li><a href="#"><i class="fa fa-th"></i>Сравнить</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <img src="/resources/lib/img/items/lamp2.png" alt="" />
                <h2><i class="fa fa-rub"></i> 500.00</h2>
                <p>Очень крутая лампочка E27 10W</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-info-circle"></i>Подробнее</a>
            </div>
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li><a href="#"><i class="fa fa-shopping-cart"></i>В корзину</a></li>
                <li><a href="#"><i class="fa fa-th"></i>Сравнить</a></li>
            </ul>
        </div>
    </div>
</div>
</div><!--features_items-->