<div class="features_items" ><!--features_items-->
    {{favorite}}
<div class="col-sm-4" data-ng-repeat="product in faforite">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <data-ng-img src="/resources/lib/img/items/lamp1.jpg" alt="" />
                <h2><i class="fa fa-rub"></i>{{product.price}}</h2>
                <p>{{product.name}}</p>
                <a data-ng-href="/details/{{product.id}}" class="btn btn-default add-to-cart"><i class="fa fa-info-circle"></i>Подробнее</a>
            </div>
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li><a href="#"><i class="fa fa-shopping-cart"></i>В корзину</a></li>
                <li><a href="#"><i class="fa fa-th"></i>Сравнить</a></li>
            </ul>
        </div>
    </div>
</div>

</div><!--features_items-->